<div class="modal-header">
  <h3>Regestrieren</h3>
</div>
<div class="modal-body">
  <alert ng-repeat="alert in alerts" type="alert.type" close="alerts.splice($index, 1)">{{alert.msg}}</alert>

  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="inputEmail" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input type="text"
               class="form-control"
               id="inputEmail"
               placeholder="Email"
               ng-model="input.email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-sm-2 control-label">Passwort</label>
      <div class="col-sm-10">
        <input type="text"
               class="form-control"
               id="inputPassword"
               placeholder="Passwort"
               ng-model="input.password">
      </div>
    </div>
  </form>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">Anmelden</button>
  <button class="btn btn-warning" ng-click="cancel()">Abbrechen</button>
</div>